$bgColor: #fff;
$borderRadius: 2px;

.wide {
  grid-column: span 2;
}

$fieldPadding: 10px;
$fieldLabelWidth: calc(100% - #{2 * $fieldPadding});
$fieldLabelHorizontalPadding: 5px;
$fieldLabelHorizontalMargin: $fieldPadding - $fieldLabelHorizontalPadding;


.floater {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  &.isVisible {
    display: block;
  }
}

.field {
  position: relative;
  display: block;
  font-size: 15px;
  font-family: arial;
  min-width: 0;
  &, *, *::before, *::after { box-sizing: border-box }
}

.field__label,
.field__input,
.field__selected {
  border: 1px solid #ccc;
}

.field__input,
.field__selected {
  background-color: $bgColor;
  border-radius: $borderRadius;
  width: 100%;
  margin: 0;
  padding: $fieldPadding;
  color: #333;
}

.field__label {
  position: absolute;
  border-color: transparent;
  margin: 0 $fieldLabelHorizontalMargin;
  padding: $fieldPadding $fieldLabelHorizontalPadding;
  max-width: $fieldLabelWidth;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  pointer-events: none;

  transition-property: transform, font-size, padding, background-color;
  transition-duration: 100ms;
}

.field__selected {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.field__dropdown {
  background-color: $bgColor;
  border-radius: $borderRadius;
  border: 1px solid #666;
  border-top: 0;
  box-shadow: 0 0 4px rgba(#000, 0.4);
  min-width: 100%;
}

.field__search {
  display: block;
  width: 100%;
  padding: 5px;
  z-index: 1;
  position: relative;
}

.field__options {
  position: relative;
  width: max-content;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  padding: 3px;
  scrollbar-color: rgba(#000, 0.2) rgba(#000, 0.1);
  scrollbar-width: thin;
}

.field__option {
  position: relative;
  border-radius: 4px;
  text-align: left;
  background-color: transparent;
  padding: $fieldPadding - 3px;
  border: 3px solid $bgColor;
  cursor: pointer;
  padding-right: 2em;
}

.field__option.isSelected{
  background-color: rgba(#000, 0.1);
  &::after {
    position: absolute;
    right: 0.8em;
    content: "✓";
  }
}

.field__option.hide {
  display: none;
}

.field__options.isNavigating .field__option.isActive,
.field__options.isNotNavigating .field__option:hover {
  background-color: rgba(#000, 0.2);
}

.field.isFocus {
  .field__label {
    opacity: 0.7;
  }

  // .field__input,
  // .field__selected {
  //   outline: auto;
  // }
}

.field.isFiled {
  .field__label {
    transform: translateY(-50%);
    background-color: $bgColor;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    opacity: 1;
    pointer-events: auto;
  }
}

.field.initialized {
  select.field__input {
    display: none;
  }
}
